div:first-child {
    background-color: rgb(184, 134, 11);
    width: 20%;
    height: 20%;
    position: absolute;
    top: 20%;
    left: 20%;
    opacity: 0.5;
}
div:nth-child(2) {
    background-color: darkred;
    width: 20%;
    height: 20%;
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: -1;

}

div:nth-child(3) {
    position: relative;
    margin: 30%;
    
}