nav{
    background-color: #333;
    display: flex;
    justify-content: space-around;
}

div:first-child{
    background-color: saddlebrown;
}
div:nth-child(2) {
    background-color: skyblue;
}
div:last-child{
    background-color: lightcoral;
}